
/* goggle fonts Lexend Deca */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend+Deca:wght@100..900&display=swap');
@font-face {
    font-family: 'Calibri';
    src: url('../font/Calibri-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../font/Calibri.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
    background-color: #F2F7FA;
}
.wrapper-container{
    max-width:1440px;
     margin:0 auto;
}

.root,body{
    padding:0;
    margin:0;
    box-sizing:border-box;
    overflow-x: hidden;
}
/* common -css */
.h1-main{
   font-family: 'Calibri';
    font-size: 65px;
    color:#000000;
    font-weight: 700;
    line-height: 118%;
    cursor:pointer;
}
.h2-main{
  font-family: 'calibri';
    font-size: 60px;
    color:#ffffff;
    font-weight: 700;
    line-height: 96%;
    cursor:pointer;  
    max-width:506px;
}
.para-main{
   font-family: "lexend deca";
    font-size: 24px;
    color:#464C51;
    font-weight: 400;
    line-height: 115.99999999999999%;   
    cursor:pointer;
}
.para-main1{
   font-family: "lexend deca";
    font-size: 18px;
     color:#464C51;
    font-weight: 400;
    line-height: 115.99999999999999%;   
    cursor:pointer;
        padding-bottom: 10px;
}
.para-main2{
     font-family:"Lexend Deca";
    font-size:18px;
    color:#ffffff;
    font-family: "lexend deca";
    font-weight: 300;
    line-height: 115.99999999999999%;   
    cursor:pointer;
    opacity: 60%;
     max-width:600px;
     padding-bottom: 10px;
}
/* here the custom fonts */
 @font-face {
        font-family: 'calibri';
        src: url('../calibri-font-family/calibri-bold.ttf') format('truetype');
             
        font-weight:600; 
 }
.nav-toggler {
 
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1000;
}

.nav-toggler span {
    width: 25px;
    height: 3px;
    background-color: #004C5E;
    border-radius: 2px;
    transition: 0.4s;
}
@media (max-width: 991px) {
  .nav-ul-listitems,
  .nav-login {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #F2F7FA;
    text-align: center;
    padding: 15px 0;
  }
  .nav-ul-listitems.show,
  .nav-login.show {
    display: flex;
  }
  .nav-toggler {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
}


@media (max-width: 768px) {
    .nav-div-main {
        flex-wrap: wrap;

        
    }

    .nav-ul-listitems,
    .nav-login {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #F2F7FA;
        width: 100%;
        padding: 15px 0;
    }

    .nav-ul-listitems.show,
    .nav-login.show {
        display: flex;
        animation: slideDown 0.3s ease forwards;
    }

  
    .nav-toggler {
        display: flex;

    }
}

@keyframes slideDown {
    0% {opacity: 0; transform: translateY(-10px);}
    100% {opacity: 1; transform: translateY(0);}
}
.nav-toggler.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.nav-toggler.active span:nth-child(2) {
    opacity: 0;
}
.nav-toggler.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* here the navbar css */
nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container{
    max-width:1240px !important;
    margin:0 auto;
       padding-top: 16px;
    padding-bottom: 16px;
   
}
.nav-div-main{
    display:flex;
  align-items: center;
    justify-content: space-between;
}
.nav-ul-listitems{
    display: flex;
    gap:70px;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    padding-top: 18px;
}

.logo{
margin:0 auto;
    object-fit: cover;
    cursor:pointer;
}
.navlogo{
    max-width: 189px;
}
.nav-li a:hover{
    color:#004C5E;
  
}
.nav-li a{
    color:#464C51;
    font-family: "lexend deca";
    font-size: 18px;
    font-weight: 300;
     text-decoration: none;
     text-decoration-color: #004C5E;
}
.nav-li a.home{
   color:#464C51;
    font-family: "lexend deca";
    font-size: 18px;
    font-weight: 600;
    color:#004C5E;
     text-decoration:underline;
     text-decoration-thickness: 2px;
     text-decoration-color: #004C5E; 
}
.nav-login{
    display:flex;
    gap:15px;
}
.login{
    max-width:100px;
    border-radius: 80px;
    border: 1px solid #004C5E;
    color:#004C5E;
    background-color: transparent;
 padding: 11px 25px;
 cursor:pointer;
 font-family: "lexend deca";
    font-size: 14px;
    font-weight: 300;
}
.login:hover{
    background-color:#004C5E;
    color:#ffffff;
}
.signup:hover{
    background-color: transparent;
    color:#004C5E;
  border: 1px solid #004C5E;
}
.signup{
    max-width:100px;
    border-radius: 80px;
    color:#ffffff;
    background-color: #004C5E;
     padding: 11px 23px ;
     cursor:pointer;
     font-family: "lexend deca";
    font-size: 14px;
    font-weight: 300;
    border:1px solid transparent; 
}
.sticky-top{
    background-color:#F2F7FA ;
}
/* here the section 1 csss */
.section1{
    padding-top: 70px;
}
.wrapper-section1{
    display:flex;
    align-items: right;
}
.wrapper-section1-right {
  position: relative;
}

.whitecolorimg-wrapper {
  position: relative;
  z-index: 2; 
}
.section-wrapper-main{
    max-width:1320px;
}
.whitecolorimg-wrapper {
    position: relative;
    z-index: 2;
}
.whitecolorimg-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 125px;
  right: 0px;
  width: 938px;
  height: 100%;
  background-color:#004C5E;
  background-size: cover;
  background-position: center;
  z-index: 1; 
   border-top-left-radius: 281px;
  border-bottom-left-radius: 281px;
}

.whitecolorimg {
  position: relative;
  z-index: 2; 
  
}
.ladyphotoimg {
    position: absolute;
    top: -42px;
    right: 41px;
    z-index: 3;
} 
.button-wrapper-main{
    background-color:#004C5D;
    max-width:381px;
    border-radius: 20px;
    padding:15px;
}
.btn-getstarted{
    color:#FFAE2E;
    font-family:lexend deca;
    font-weight:300;
    font-size:14px;
    background-color:#ffffff;
    padding:11px 31px;
    border-radius: 80px;
cursor: pointer;
}
.btn-getstarted:hover{
    color:#ffffff;
}
.button-wrapper-main{
    display: flex;
    gap:42px;
    align-items: center;
   
}
.inner-button-right{
    display: flex;
    gap:6px;
    align-items: center;
}
.videoiconimg{
    max-width:39px;
    object-fit:fill;
    cursor: pointer;
}
.para-see{
    font-family:lexend deca;
    font-weight: 300;
    font-size:14px;
    color:#ffffff;
    margin-top:0;
    margin-bottom:0;
    cursor:pointer;
}
.para-main{
    max-width:630px;
    padding-bottom:10px;
}
@media (max-width:425px){
    .nav-login {
    display: flex
;
    gap: 15px;
    flex-direction: row-reverse;
}
    .nav-ul-listitems {
        display: flex;
        gap: 20px;
        list-style-type: none;
        text-decoration: none;
        align-items: flex-start;
        padding-top: 32px;
        padding-left: 47px;
    }
    .wrapper-section1-right {
    display: none;
}
}
/* here the  section 2 css */
.btn-main{
    color:#004C5D;
    background-color: #FFAE2E;
    border-radius: 80px;
    box-shadow: 1px 1px 15px 0px #00000059;
    padding:11px 41px;
    border:#FFAE2E;
cursor: pointer;
    font-weight: 500;
    font-size: 16px;
line-height:100%;
letter-spacing:0;

}
   
.inner-wrapper-section2{
    display: flex;
    gap:62px;
    align-items: center;
}
.inner-image-left-section2{
    max-width:530px;
}
@media (max-width:320px){
    .wrapper-section1-left {
    width: 100% !important;
    padding-top: 10px !important;
    margin: 0 auto;
    text-align: center;
}

   .nav-ul-listitems {
    display: flex
;
    gap: 70px;
    list-style-type: none;
    text-decoration: none;
    align-items: flex-start;
    padding-top: 18px;
    padding-left: 35px;
   }
    .section8

 {
    padding-bottom: 10px !important;
}
     .section2{
    padding-top: 10px;
}
.section3{
    padding-top: 10px;
}
.section4{
    padding-top: 10px;
}
.section6{
    padding-top: 10px;
}
.section7{
    padding-top: 10px;
}
    .section1{
    padding-top: 180px !important;
}
    .slider-portfolio-card {
        text-align: center;
    }
    .portfolioinnerimg {
        max-width: 302px;
        cursor: pointer;
        object-fit: cover;
        align-items: center;
        margin: 0 auto;
    }
    .inner-wrapper-section2 {
    flex-wrap: wrap;
}
.inner-wrapper-section2 {
    display: flex;
    gap: 0px;
    align-items: center;
}
img.inner-image-left-section2 {
    max-width: 250px;
    margin: 0 auto;
    align-items: center;
    padding-left: 0px!important;
}

.inner-content-section2 {
    text-align: center;
}
}
@media (max-width:375px){
    .wrapper-section1-left {
    width: 100% !important;
    padding-top: 10px !important;
    margin: 0 auto;
    text-align: center;
}
    .nav-login {
    display: flex
;
    gap: 15px;
    flex-direction: row-reverse;
}
    .nav-ul-listitems {
        display: flex;
        gap: 20px;
        list-style-type: none;
        text-decoration: none;
        align-items: flex-start;
        padding-top: 32px;
        padding-left: 47px;
    }
    .section8

 {
    padding-bottom: 10px !important;
}
     .section2{
    padding-top: 10px;
}
.section3{
    padding-top: 10px;
}
.section4{
    padding-top: 10px;
}
.section6{
    padding-top: 10px;
}
.section7{
    padding-top: 10px;
}
    .section1{
    padding-top: 90px !important;
}
    .slider-portfolio-card {
        text-align: center;
    }
    .portfolioinnerimg {
        max-width: 302px;
        cursor: pointer;
        object-fit: cover;
        align-items: center;
        margin: 0 auto;
    }
    .inner-right-card-section3 {
    background-color: #D9D9D9;
    border-radius: 20px;
    max-width: 100% !important;
    height: auto;
   
}
    .inner-wrapper-section2 {
    flex-wrap: wrap;
}
.inner-wrapper-section2 {
    display: flex;
    gap: 0px;
    align-items: center;
}
img.inner-image-left-section2 {
    max-width: 100%;
    margin: 0 auto;
   
    align-items: center;
}

.inner-content-section2 {
    text-align: center;
}
}
@media (max-width:425px){
      .wrapper-section1-left {
    width: 100% !important;
    padding-top: 10px !important;
    margin: 0 auto;
    text-align: center;
}
    .section8
{
    padding-bottom: 10px !important;
}
     .section2{
    padding-top: 10px;
}
.section3{
    padding-top: 10px;
}
.section4{
    padding-top: 10px;
}
.section6{
    padding-top: 10px;
}
.section7{
    padding-top: 10px;
}
    .section1{
    padding-top: 90px !important;
}
    .slider-portfolio-card {
        text-align: center;
    }
       .portfolioinnerimg {
        max-width: 280px !important;
        cursor: pointer;
        align-items: center;
        margin:0 auto;
        padding-top: 21px;
    }
    .portfolionew1 {
    padding-bottom: 0px !important;
}
    .inner-right-card-section3 {
    background-color: #D9D9D9;
    border-radius: 20px;
    max-width: 100% !important;
    height: auto;
   
}
        .portfolioinnerimg {
        max-width: 273px !important;
        cursor: pointer;
    }
    .portfolionew {
    padding-top: 0px !important;
}
    .slider-portfolio-card {
    max-width: 100% !important;
}
    .section5 {
    padding-bottom: 0px !important;
}
     .button-wrapper-main {
        display: flex;
        gap: 13px !important;
        align-items: center;
         background-color: #004C5D;
    max-width: 258px;
    border-radius: 20px;
    padding: 9px;
    margin:0 auto;
    }
   
    .slider-portfolio-card {
   
    background-color: #004C5D;
    border-radius: 20px;
    padding: 9px;
}
        .h1-main {
        font-family: 'calibri';
        font-size: 35px !important;
        color: #000000;
        }
   .inner-wrapper-section2 {
    flex-wrap: wrap;
}
img.inner-image-left-section2 {
    max-width: 100%;
    margin: 0 auto;
    
    align-items: center;
}
.inner-wrapper-section2 {
        display: flex
;
        gap: 28px;
        align-items: center;
        flex-direction: column-reverse;
    }

.inner-content-section2 {
    text-align: center;
} 
}
.section2{
    padding-top: 70px;
}
.section3{
    padding-top: 70px;
}
.section4{
    padding-top: 10px;
}
.section6{
    padding-top: 0px;
}
.newsletter-container{
    padding-top:57px!important;
}
.section7{
    padding-top: 5px;
}
@media (max-width:768px){
    .nav-login {
    display: flex
;
    gap: 15px;
    flex-direction: row-reverse;
}
    .nav-ul-listitems {
        display: flex;
        gap: 20px;
        list-style-type: none;
        text-decoration: none;
        align-items: flex-start;
        padding-top: 32px;
        padding-left: 47px;
    }
    .para-section6{
        font-size:15px!important;
    }
    .happy {
        font-size: 15px!important;
    }
    .lorem {
        font-size: 17px!important;
    }
    .heading-section6 {

        font-size: 35px!important;
    }
    .section2{
    padding-top: 10px;
}
.section3{
    padding-top: 10px;
}
.section4{
    padding-top: 10px;
}
.section6{
    padding-top: 10px;
}
.section7{
    padding-top: 10px;
}
.section8{
    padding-bottom: 10px;
}
.section1{
    padding-top: 90px !important;
}
.section4{
        display: none;
    }
.h1-main {
    font-family: 'calibri';
    font-size: 56px;
    color: #000000;
    font-weight: 700;
    line-height: 118%;
    cursor: pointer;
}
.para-main {
    font-family: "lexend deca";
    font-size: 15px;
}
.btn-getstarted {
        color: #FFAE2E;
        font-family: lexend deca;
        font-weight: 300;
        font-size: 11px;
        background-color: #ffffff;
        padding: 4px 15px;
        border-radius: 80px;
    }
.videoiconimg {
    max-width: 28px;
    object-fit: fill;
    cursor: pointer;
}
.button-wrapper-main {
    display: flex;
    gap: 9px;
    align-items: center;
}
.para-see {
    font-family: lexend deca;
    font-weight: 300;
    font-size: 11px;
}
.inner-image-left-section2 {
    max-width: 353px;
}
.inner-content-section3 {
    width: 100% !important;
    align-content: center;
    text-align: center;
}
.inner-wrapper-section3 {
    display: flex
;
    flex-wrap: wrap;
}
.inner-right-section3 {
    display: flex
;
    flex-wrap: wrap;
    gap: 8px !important;
    width: 100% !important;
    align-items: center;
    align-self: center;
    padding-top: 10px;
}
.wrapper-section4 {
    max-width: 100%;
    background-color: #004C5D;
    padding: 66px;
    position: relative;
}
.inner-wrapper-img-section4 {
    padding-left:0px!important;
}
img.section4bottomimg {
    margin: -69px 0 0 -74px;
    max-width: 293px;
}
.inner-wrapper-content-section4 {
    align-content: center;
    padding-top: 5px;
}
.inner-wrapper-section4 {
    display: flex
;
    align-content: center;
    gap: 16px;
}   
.portfolioinnerimg {
    max-width: 227px !important;
    cursor: pointer;
}
.reviews-section {
        display: flex;
        max-width: 1440px;
        margin: 0px auto;
        padding: 15px;
        flex-wrap: wrap;
        gap: 34px;
        
      
    }
}
@media(max-width:1024px){
    .wrapper-footer-right {
    width: 50%;
    display: flex;
    gap: 47px;
}
.wrapper-inner-footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.reviews-section {
    display: flex;
        max-width: 1440px !important;
    margin: 0px auto;
    padding: 24px !important;
  gap: 24px !important;
}
.portfolioinnerimg {
    max-width: 224px!important;
}
.inner-wrapper-section3{
    display: flex;
    flex-direction: row-reverse !important;
}
.inner-wrapper-img-section4 {
    padding-left: 153px !important;
}
.inner-wrapper-content-section4 {
    align-content: center;
    padding-top: 45px;
}
img.section4topimg {
    max-width: 300px;
}
.inner-wrapper-section4 {
    display: flex
;
    gap: 16px;
    align-content: center;
}
}
.navbar-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
 }
.section1{
    padding-top: 170px;
}


.inner-wrapper-section3 {
    gap: 37px;
}
.wrapper-section1-left{
    width:50%;
    padding-top:100px;
}